#root {
  margin: 0;
}

.container {
  display: grid; 
  grid-template-columns: auto auto auto;
  column-gap: 30px;
  row-gap: 100px;
}

.bubble {
  display: flex;
  flex-direction: column;
  border: 4px groove #A5acaf;
  background-color: #046A38;
  height: 500px;
  border-radius: 20px;
}

.calendarFrame {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.calendarEmbed {
  width: 90%;
  border: 0;
  border-radius: 20px;
}

body {
  font-family: "DIN";
  background-color: #003087;
}

@font-face {
    font-family: 'DIN';
    src: url('./fonts/din.ttf') format('truetype');
}

.container h1 {
  text-align: center;
  color: #B2B4B2;
  font-weight: normal;
  font-size: 40px;
  margin: 10px 0;
}
